In [62]:
import pandas as pd

# Assignement 2

## Dataset 1- wine quality

In [63]:
wine = pd.read_csv("/workspaces/DS-3021/data/winequality-red.csv", sep = ";")
print(wine.info())
wine.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Question: Are there differences in the quality of wine on average by pH and residual sugar?

### Pseudocode:

* group by wine quality (1-10)
* add a column for average pH
* add a column for average residual sugar
* arrange in ascending order by wine quality

In [64]:
print(wine.columns)

# make the quality column a category
wine['quality'] = wine['quality'].astype("category")
#rename the residual sugar to make it easier to work with
wine.rename(columns={'residual sugar':'rs'}, inplace=True)
print(wine.info())

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   rs                    1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   category
dtypes: category(1), float64(11)
memory usage: 139.3 KB
None

In [65]:
#group the dataframe by wine quality
wine1 = wine.groupby(['quality'])
wine2 = pd.DataFrame()
#create columns in our grouped data frame to display average pH and rs
wine2 = wine2.assign(avgpH= wine1.pH.mean())
wine2 = wine2.assign(avgRS= wine1.rs.mean())
print(wine2.shape)
wine2.head(8)

(6, 2)

/tmp/ipykernel_957/3860340607.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  wine1 = wine.groupby(['quality'])

            avgpH     avgRS
quality
3        3.398000  2.635000
4        3.381509  2.694340
5        3.304949  2.528855
6        3.318072  2.477194
7        3.290754  2.720603
8        3.267222  2.577778

### Put it all into a function:

In [66]:
def data_sipping(data):
    data['quality'] = data['quality'].astype("category")
    data.rename(columns={'residual sugar':'rs'}, inplace=True)
    wine2 = data.groupby(['quality'])
    wine2 = pd.DataFrame()
    wine2 = wine2.assign(avgpH= wine1.pH.mean())
    wine2 = wine2.assign(avgRS= wine1.rs.mean())
    return wine2

data_sipping(wine)

/tmp/ipykernel_957/4056847542.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  wine2 = data.groupby(['quality'])

            avgpH     avgRS
quality
3        3.398000  2.635000
4        3.381509  2.694340
5        3.304949  2.528855
6        3.318072  2.477194
7        3.290754  2.720603
8        3.267222  2.577778

### Question: On average, what percent of the sulfur dioxide in a wine is free?

### Pseudocode:

* rename columns for free and total sulfur dioxide so we can work with them
* create new column for percent free SD using the two existing columns
* take the average of that columns

In [67]:
# rename columns to make them easier to work with
wine.rename(columns={'free sulfur dioxide':'fsd'}, inplace=True)
wine.rename(columns={'total sulfur dioxide':'tsd'}, inplace=True)
print(wine.columns)

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'rs', 'chlorides',
       'fsd', 'tsd', 'density', 'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [68]:
#create new column using the info in fsd and tsd columns
wine = wine.assign(pct_free_sd=wine['fsd'] / wine['tsd'] * 100)
wine.head()

,fixed acidity,volatile acidity,citric acid,rs,chlorides,fsd,tsd,density,pH,sulphates,alcohol,quality,pct_free_sd
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,32.352941
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,37.313433
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,27.777778
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,28.333333
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,32.352941

In [69]:
# find the average value in the pct_free_sd column
avg_freesd = wine['pct_free_sd'].mean()
print(avg_freesd)

38.231105768209396

### Put it all into a function:

In [70]:
def sd_calculator(data):
    data.rename(columns={'free sulfur dioxide':'fsd'}, inplace=True)
    data.rename(columns={'total sulfur dioxide':'tsd'}, inplace=True)
    data = data.assign(pct_free_sd=data['fsd'] / data['tsd'] * 100)
    avg_freesd = data['pct_free_sd'].mean()
    return avg_freesd

b = sd_calculator(wine)
print(b)

38.231105768209396

## Dataset 2 - Movies

In [71]:
# load in the data

movies = pd.read_csv('/workspaces/DS-3021/data/movie_metadata.csv')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Question: Do movies with higher budgets tend to get higher imbd scores?

### Pseudocode:
* create a new column for the budget interval so we can more easily compare
* group by budget interval
* make a column for average imdb rating

In [72]:

movies1 = pd.DataFrame(movies)
#add a column in the data frames that displays budget interval
bins = [0, 5000000.0, 10000000.0, 30000000.0, 100000000.0, 1000000000.0, 12215500000.0]
movies1['budget_interval'] = pd.cut(movies1['budget'], bins)

In [73]:
#create new df that groups the movies by budget interval and has an average imbd score column
movies2 = movies1.groupby(['budget_interval']).agg(avg_rating=('imdb_score', 'mean')).reset_index()
print(movies2.head())

               budget_interval  avg_rating
0             (0.0, 5000000.0]    6.462604
1      (5000000.0, 10000000.0]    6.475442
2     (10000000.0, 30000000.0]    6.380187
3    (30000000.0, 100000000.0]    6.335766
4  (100000000.0, 1000000000.0]    6.714465

/tmp/ipykernel_957/3620619131.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  movies2 = movies1.groupby(['budget_interval']).agg(avg_rating=('imdb_score', 'mean')).reset_index()

### Put it all into a function

In [74]:
def budget_breaker(data):
    movies1 = pd.DataFrame(data)
    bins = [0, 5000000.0, 10000000.0, 30000000.0, 100000000.0, 1000000000.0, 12215500000.0]
    movies1['budget_interval'] = pd.cut(movies1['budget'], bins)
    movies2 = movies1.groupby(['budget_interval']).agg(avg_rating=('imdb_score', 'mean')).reset_index()
    return movies2
    
budget_breaker(movies)

/tmp/ipykernel_957/1166395436.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  movies2 = movies1.groupby(['budget_interval']).agg(avg_rating=('imdb_score', 'mean')).reset_index()

                 budget_interval  avg_rating
0               (0.0, 5000000.0]    6.462604
1        (5000000.0, 10000000.0]    6.475442
2       (10000000.0, 30000000.0]    6.380187
3      (30000000.0, 100000000.0]    6.335766
4    (100000000.0, 1000000000.0]    6.714465
5  (1000000000.0, 12215500000.0]    7.533333

### Question: What percent of movies released in the 2010s were R rated?

### Pseudocode:
* filter the dataframe by date to only include movies released in the 2010s
* find how many rows are in that column
* find how many of those rows have R in the content_rating column
* use those numbers to calculate a percentage

In [75]:
#filter out only movies released from 2010 too 2020
movies2010s = movies.loc[(movies['title_year'] >= 2010) & (movies['title_year'] < 2020), ['content_rating', 'title_year', 'movie_title']]

In [76]:
# find out how many movies were released in that time period
tot_movies = movies2010s.shape

In [77]:
#filter again for r rated movies, find the number of those r rated movies
filtered = movies2010s.query("content_rating == 'R'")
just_r = filtered.shape

filtered.head()

    content_rating  title_year          movie_title
84               R      2015.0          The Lovers
128              R      2015.0  Mad Max: Fury Road
136              R      2010.0         The Wolfman
179              R      2015.0        The Revenant
227              R      2012.0          Prometheus

In [78]:
#use the numbers found previously to find a percentage
ratio = just_r[0]/tot_movies[0]*100
print(ratio)

38.34335337341349

### Put it all into a function

In [79]:
def R_counter(data, start, end):
    movies2010s = data.loc[(data['title_year'] >= start) & (data['title_year'] < end), ['content_rating', 'title_year', 'movie_title']]
    tot_movies = movies2010s.shape
    filtered = movies2010s.query("content_rating == 'R'")
    just_r = filtered.shape
    ratio = just_r[0]/tot_movies[0]*100
    return ratio

value = R_counter(movies, 2010, 2020)
print(value)

38.34335337341349